    body {
                min-height: 100vh;
                margin: 0;
                display: grid;
                grid-template-columns: 200px 1fr;
                font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
                color: #1a1d1c
            }
            header {
                grid-column: 1 / span 2;
                background-color: aqua;
            }
            nav {
                background-color: #8ce9c6;

            }
            nav ul {
                margin: 0;
                grid-column: 1 / span 1;
            }
            main {
                grid-column: 2 / span 1;
            }
            a {
                color: currentColor;
            }


/* HEADER */
.template-header {}

/* NAVIGATION */
.template-navigation {

}
.template-navigation__list {
    list-style: none;
    padding: 0;
}
.template-navigation__item {}
.template-navigation__link {
    text-decoration: none;
}


.content {
    padding: 3rem;
}



pre {
    max-width: 100%;
    overflow: scroll;

       white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}